body{
  margin: 0;
  padding: 0;
  background: url('../img/bg.png');
  background-size: cover;
}
.App{
  width: 100vw;
  height: 100vh;
}
.Sidebar{
  height: 100%;
  width: 300px;
  background-image: linear-gradient( hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0.075));
  backdrop-filter: blur(5px);
}
.SidebarMenuOp{
  height: auto;
  padding: 0;
}
.SidebarMenuOp .SidebarMenuItens{
  width: 100%;
  height: 50px;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
}
.SidebarMenuItens:hover{
  background-color: hsla(342, 88%, 74%, 0.349);
}
.SidebarMenuItens #SidebarIcon{
  flex: 30%;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}
.SidebarMenuItens #SidebarTitle{
  flex: 70%;
}